.navbar{
    border-bottom: 1px solid black;
    display: flex;
     justify-content: space-between;
    
}
.navbar  > ul{
    display: flex;
    
   
}

.navbar > ul > li{
    margin-top: 15px;
    padding-left: 12px;
    list-style-type: none;
}

.product{
    border: 1px solid black;
    width: 200px;
    padding: 5px;
    text-align: center;
    margin:10px;
    
}
.product_card{
    margin-top: 20px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-wrap:wrap;
    
}


.product > img{
    width: 120px;
    height: 150px;
}

.skeleton-container{
margin-top: 60px;
display: flex;
flex-wrap: wrap;
}

.skeleton{
width: 210px;
height: 600px;
margin: 10px;
background-color: rgb(151, 151, 151);
}